
.donationlist {
   
    .donation-list {
       img {
           border-radius: 12px;
       }
        
        h4 {
            font-size: 22px;
            font-weight: 900;
            color: #0084b4;
        }
        h2 {
            font-size: 22px;
            font-weight: 800;
        }
        p {
            font-size: 18px;
            font-weight: 600;
        }
    }
}
/**
page-donation {
.donationlist {
    background: #fcdd73;
}
h1 {
    font-family: cursive;
}
}
.donation-card{
    ion-item {
        background-color: #151a21;
        height: 120px;
        
    }
    
    ion-card {
        margin-bottom: 23px;
        border-radius: 15px;
        img {
            height: 100px;
            width: 100px;

        }

    }
    h2 {
        color: #ffff;
        font-size: 22px;
        font-weight: 700;
    }
    p {
        font-size: 18px;
        font-weight: 800;
        color: #ffff;
    }
    ion-icon {
        color: #ffff;
    }
}

**/