<!--
  Generated template for the DonationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title text-center>My Donations</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="donationlist">

  <div class="donation-list">
      <ion-list>
          <ion-item>
            <ion-thumbnail item-start>
              <img src="assets/imgs/s1.jpg">
            </ion-thumbnail>
            <h2>Campaign01</h2>
            <p>Donated &#x20b9; 700 <br> on 12-02-2018</p>
            <button ion-button color="tw" clear item-end><h4>>></h4></button>
          </ion-item>

          <ion-item>
            <ion-thumbnail item-start>
              <img src="assets/imgs/s2.jpg">
            </ion-thumbnail>
            <h2>Campaign02</h2>
            <p>Donated &#x20b9; 800 <br> on 12-02-2018</p>
            <button ion-button clear color="tw" item-end><h4>>></h4></button>
          </ion-item>
      
          <ion-item>
            <ion-thumbnail item-start>
              <img src="assets/imgs/s3.jpg">
            </ion-thumbnail>
            <h2>Campaign03</h2>
            <p>Donated &#x20b9; 500 <br> on 12-02-2018</p>
            <button ion-button color="tw" clear item-end><h4>>></h4></button>
          </ion-item>
      
          <ion-item>
            <ion-thumbnail item-start>
              <img src="assets/imgs/s4.jpg">
            </ion-thumbnail>
            <h2>Campaign04</h2>
            <p>Donated &#x20b9; 700 <br> on 12-02-2018</p>
            <button ion-button color="tw" clear item-end><h4>>></h4></button>
          </ion-item>
      
          <ion-item>
            <ion-thumbnail item-start>
              <img src="assets/imgs/s5.jpg">
            </ion-thumbnail>
            <h2>Campaign05</h2>
            <p>Donated &#x20b9; 600 <br> on 12-02-2018</p>
            <button ion-button color="tw" clear item-end><h4>>></h4></button>
          </ion-item>
      
          <ion-item>
            <ion-thumbnail item-start>
              <img src="assets/imgs/s1.jpg">
            </ion-thumbnail>
            <h2>Campaign06</h2>
            <p>Donated &#x20b9; 500 <br> on 12-02-2018</p>
            <button ion-button color="tw" clear item-end><h4>>></h4></button>
          </ion-item>
      
        </ion-list>
  </div>
  <!--
  <div class="donation-card">
      <ion-card>
          <ion-item>
              <ion-avatar item-start>
                  <img src="assets/imgs/d1.jpg">
               </ion-avatar>
              <h2 text-end>Donated</h2>
              <p text-end>$ 76587</p>
            </ion-item>
      </ion-card>
      <ion-card>
          <ion-item>
              <ion-avatar item-start>
                  <img src="assets/imgs/d2.jpg">
               </ion-avatar>
              <h2 text-end>Donors</h2>
              <p text-end>654567</p>
            </ion-item>
      </ion-card>
      <ion-card>
          <ion-item>
              <ion-avatar item-start>
                  <img src="assets/imgs/d3.jpg">
               </ion-avatar>
              <h2 text-end>Our Target</h2>
              <p text-end>$ 1000000</p>
            </ion-item>
      </ion-card>
      <ion-card>
          <ion-item>
              <ion-avatar item-start>
                  <img src="assets/imgs/d4.jpg">
               </ion-avatar>
              <h2 text-end>Time To Go</h2>
              <p text-end>40 Days</p>
            </ion-item>
      </ion-card>
  </div>
-->
  
  
</ion-content>
