<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>register</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="reg-back">
      <ion-list>
          <ion-item>
            <ion-label floating>Username</ion-label>
            <ion-input type="text" #username></ion-input>
          </ion-item>
        
          <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" #password></ion-input>
          </ion-item>
        
        </ion-list>
        <div padding>
          <button ion-button color="primary" block (click)="registerUser();">Register</button>
        </div>
</ion-content>
