<ion-tabs color="primary">
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="My Donation" tabIcon="md-cash"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Profile" tabIcon="md-contact"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Welcome" tabIcon="md-school"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Log Out" (click)="goLog();" tabIcon="md-log-out"></ion-tab>
</ion-tabs>