
<ion-header>

  <ion-navbar color="primary">
    <ion-title text-center>SCHOOL</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="list-back">
  <div class="schools">
      <ion-card>

          <img (click)="fschoolGo();" src="assets/imgs/s1.jpg"/>
      
          <ion-card-content>
            <ion-card-title>
              School name 01
            </ion-card-title>
            <p>
              The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
            </p>
          </ion-card-content>      
          <ion-row no-padding>
            <ion-col text-center col-3>
                <h4>20.85%</h4>
                <p>Donated</p>
            </ion-col> 
            <ion-col text-center col-3>
                <h4>40987</h4>
                <p>Donors</p>
            </ion-col>
            <ion-col text-center col-6>
                <h4 text-center>5d 12h 3min</h4>
                <p>To go</p>
            </ion-col>
          </ion-row>
      
        </ion-card>
      
        <ion-card>
      
          <div>
            <img src="assets/imgs/s2.jpg"/>
          </div>
      
          <ion-card-content>
            <ion-card-title>
                School name 02
            </ion-card-title>
            <p>
            American singer-songwriter, record producer, activist, and actress, Badu's style is a prime example of neo-soul.
            </p>
          </ion-card-content>
      
          <ion-row no-padding>
              <ion-col text-center col-3>
                  <h4>20.85%</h4>
                  <p>Donated</p>
              </ion-col> 
              <ion-col text-center col-3>
                  <h4>40987</h4>
                  <p>Donors</p>
              </ion-col>
              <ion-col text-center col-6>
                  <h4 text-center>5d 12h 3min</h4>
                  <p>To go</p>
              </ion-col>
            </ion-row>
      
        </ion-card>
      
        <ion-card>
      
          <div>
            <img src="assets/imgs/s3.jpg"/>
          </div>
      
          <ion-card-content>
            <ion-card-title>
                School name 03
            </ion-card-title>
            <p>
              The British rock band formed in London in 1970, and is considered one of the biggest stadium rock bands in the world.
            </p>
          </ion-card-content>
      
          <ion-row no-padding>
              <ion-col text-center col-3>
                  <h4>20.85%</h4>
                  <p>Donated</p>
              </ion-col> 
              <ion-col text-center col-3>
                  <h4>40987</h4>
                  <p>Donors</p>
              </ion-col>
              <ion-col text-center col-6>
                  <h4 text-center>5d 12h 3min</h4>
                  <p>To go</p>
              </ion-col>
            </ion-row>
      
        </ion-card>
      
        <ion-card>
      
          <div>
            <img src="assets/imgs/s4.jpg"/>
          </div>
      
          <ion-card-content>
            <ion-card-title>
                School name 04
            </ion-card-title>
            <p>
              The American hip hop group widely acknowledged as one of the most influential acts in the history of hip hop.
            </p>
          </ion-card-content>
      
          <ion-row no-padding>
              <ion-col text-center col-3>
                  <h4>20.85%</h4>
                  <p>Donated</p>
              </ion-col> 
              <ion-col text-center col-3>
                  <h4>40987</h4>
                  <p>Donors</p>
              </ion-col>
              <ion-col text-center col-6>
                  <h4 text-center>5d 12h 3min</h4>
                  <p>To go</p>
              </ion-col>
            </ion-row>
      
        </ion-card>
        <ion-card>
      
          <div>
            <img src="assets/imgs/s5.jpg"/>
          </div>
      
          <ion-card-content>
            <ion-card-title>
                School name 05
            </ion-card-title>
            <p>
              The American hip hop group widely acknowledged as one of the most influential acts in the history of hip hop.
            </p>
          </ion-card-content>
      
          <ion-row no-padding>
              <ion-col text-center col-3>
                  <h4>20.85%</h4>
                  <p>Donated</p>
              </ion-col> 
              <ion-col text-center col-3>
                  <h4>40987</h4>
                  <p>Donors</p>
              </ion-col>
              <ion-col text-center col-6>
                  <h4 text-center>5d 12h 3min</h4>
                  <p>To go</p>
              </ion-col>
            </ion-row>
      
        </ion-card>
  </div>
    
</ion-content>