.schools {
    
    h4 {
        font-size: 20px;
        color: #1a8cff;
    }
    p {
        font-size: 16px;
        color: #000;
        font-weight: 400;
        
    }
    ion-card-title {
        font-family: fantasy;
        color: #000;
    }
    ion-card {
        border: 2px solid #7a7a52;
        border-radius: 15px;
    }
}
.list-back {
    background: #fcdd73;
}