page-profile {
.profile {
    height: 320px;
    background-color: #fcdd73;
    margin-top: -12px;
    img {
        height: 140px;
        width: 140px;
        margin-left: 50px;
    }
    h2 {
        margin-left: 90px;
        font-size: 20px;
        font-weight: 700;
    }
    ion-card-header {
        background-color: #fcdd73;
    }
    ion-item {
        background-color: #fcdd73;
    }
}
}
