<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title text-center>profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="profile">
      <ion-card>
          <ion-card-header>
              <ion-item>
                <ion-avatar item-start>
                  <img src="assets/imgs/profile.jpeg">
                </ion-avatar>                
              </ion-item>
              <h2>Daniel Ethan</h2>
            </ion-card-header>
      </ion-card>
  </div>
  
  <ion-item-group>
      <ion-item-divider color="secondary"><h2 text-center>Account</h2></ion-item-divider>
      <button ion-item>
          <ion-icon name="ios-call" item-start></ion-icon>
          91987654234
        </button>
        <button ion-item>
            <ion-icon name="ios-mail" item-start></ion-icon>
            test@gmail.com
          </button>
          
    </ion-item-group>
<button ion-button color="secondary" round full>Log Out</button>
</ion-content>
