.body-cont {
  background-color: #fcdd73;
}
ion-header {
  background-color: #151a21;
}
/**
.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
      border-radius: 10px;
    }
    img {
      height: 360px;
      width: 100%;
      border: 2px solid #7a7a52;
    }
    ion-avatar {
      height: 60px;
    }
    .card-title {
      position: absolute;
      top: 20%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #ffff00;
    }
  
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  
  }
  **/
  .btn {
      background-color: #fcdd73;
      height: 110px;
      width: 100%;
     
      button {
        height: 100px;
        width: 150px;
        border-radius: 8px;
      }
      p {
        font-size: 16px;
        font-weight: 600;
        font-family: Georgia, serif;
        line-height: 22px;
        margin-bottom: 40px;
      }
      ion-icon {
        margin-top: 50px;
        font-size: 40px;
        color: #000000;
      }
  }
  .tutorial-page {
pager {
  font-size: 10px;
}
    .toolbar-background {
      background: #fff;
      border-color: transparent;
    }
  ion-card {
    border: 2px solid #7a7a52;
    border-radius: 15px;
    background: linear-gradient(to top right, #33ccff 2%, #00ffff 52%);
  }
  img {
    height: 290px;
  }
  h2 {
    font-size: 26px;
    font-family: fantasy;
    font-weight: 400;
  }
    .slide-zoom {
      height: 100%;
    }
    .slide-image {
      max-height: 100%;
      max-width: 100%;
    }
  
    b {
      font-weight: 500;
    }
  
    p {
      padding: 0 40px;
      font-size: 14px;
      line-height: 1.5;
      color: #60646B;
  
      b {
        color: #000000;
      }
    }
  
  }