<ion-header>
  
    <ion-fab top right bottom>
        <button ion-fab mini color="tw"><ion-icon name="md-share"></ion-icon></button>
        <ion-fab-list>
          <button ion-fab color="fb"><ion-icon name="logo-facebook"></ion-icon></button>
          <button ion-fab color="tw"><ion-icon name="logo-twitter"></ion-icon></button>
          <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
          <button ion-fab color="gle"><ion-icon name="logo-googleplus"></ion-icon></button>
        </ion-fab-list>
      </ion-fab>
  <ion-navbar color="primary">
    <ion-title text-center>Home</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="body-cont">


  <!--
     <div class="card-background-page">
    <ion-card>
      <img (click)="schoolPage();" src="assets/imgs/s1.jpg"/>
      <div class="card-title" (click)="schoolPage();">DONATE AND HELP US TODAY</div>
      <div class="card-subtitle">
        <button ion-button color="light" (click)="schoolPage();" round>DONATE</button>
      </div>
    </ion-card>
  </div>
  -->
   <!--slider-->
  <div class="tutorial-page">
       <ion-slides autoplay="2000" loop="true" speed="500" pager="true">
         <ion-slide *ngFor="let slide of slides">
            <img [src]="slide.image" (click)="schoolPage();" class="slide-image"/>
          </ion-slide>
        </ion-slides>
   </div>
   <div class="btn">
      <ion-grid>
          <ion-row>
            <ion-col col-6>
                <button ion-button icon-only color="btn"> 
                    <ion-grid>
                        <ion-row>
                          <ion-col col-12><ion-icon name="md-cash"></ion-icon> </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col col-12><p text-center>MY <br> DONATIONS</p></ion-col>
                        </ion-row>
                      </ion-grid>
                  </button>
            </ion-col>
            <ion-col col-6>
                <button ion-button icon-only color="btn"> 
                    <ion-grid>
                        <ion-row>
                          <ion-col col-12><ion-icon name="md-contact"></ion-icon> </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col col-12><p text-center>BECOME A<br> VOLUNTEER</p></ion-col>
                        </ion-row>
                      </ion-grid>
                  </button>
            </ion-col>
          </ion-row>
      </ion-grid>

      <ion-grid>
          <ion-row>
              <ion-col col-6>
                  <button ion-button icon-only color="btn"> 
                      <ion-grid>
                          <ion-row>
                            <ion-col col-12><ion-icon name="md-cash"></ion-icon> </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col col-12><p text-center>MY <br> DONATIONS</p></ion-col>
                          </ion-row>
                        </ion-grid>
                    </button>
              </ion-col>
            <ion-col col-6>
                <button ion-button icon-only color="btn"> 
                    <ion-grid>
                        <ion-row>
                          <ion-col col-12><ion-icon name="md-contact"></ion-icon> </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col col-12><p text-center>BECOME A<br> VOLUNTEER</p></ion-col>
                        </ion-row>
                      </ion-grid>
                  </button>
            </ion-col>
          </ion-row>
      </ion-grid>

     
    </div>
 <!--
  <div class="btn">
    <ion-grid>
      <ion-row>
        <ion-col col-4>
            <ion-item>
                <ion-avatar class="avatar" item-start>
                  <img src="assets/imgs/b1.jpg">
                </ion-avatar>
              </ion-item>
      </ion-col>
        <ion-col col-4>
            <ion-item>
                <ion-avatar class="avatar" item-start>
                  <img src="assets/imgs/b2.png">
                </ion-avatar>
              </ion-item>
        </ion-col>
        <ion-col col-4>
            <ion-item>
                <ion-avatar class="avatar" item-start>
                  <img src="assets/imgs/b3.jpg">
                </ion-avatar>
              </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
          <ion-col col-4>
              <h6 text-center>get involved</h6>
        </ion-col>
        <ion-col col-4>
          <h6 text-center>Become a Volunteer</h6>
      </ion-col>
      <ion-col col-4>
        <h6 text-center>Donate Now</h6>
    </ion-col>
        </ion-row>
    </ion-grid>
  </div>
  -->
</ion-content>
