.schools {
    
    h4 {
        font-size: 20px;
        color: #1a8cff;
    }
    p {
        font-size: 18px;
        color: #1a0d00;
        font-weight: 600;
        
    }
    ion-card-title {
        font-family: fantasy;
        color: #000;
    }
    .btn {
        height: 60px;
        width: 75px;
        border-radius: 20px;
        background: #6600FF;
        color: #fff;
    }
}
