<!--
  Generated template for the FschoolPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title text-center>School name</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="schools">
      <ion-card>
          <img src="assets/imgs/s2.jpg"/>
      
          <ion-card-content>
            <ion-card-title>
              School name 01
            </ion-card-title>
            <p>
              The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
            </p>
          </ion-card-content>
  
          <ion-grid>
              <ion-row>
                <ion-col col-3>
                    <button text-center class="btn" ion-button color="secondary" clear>$1 USD</button>
                </ion-col>
                <ion-col col-3>
                    <button class="btn" ion-button color="secondary" clear>$2 USD</button>
                </ion-col>
                <ion-col col-3>
                    <button class="btn" ion-button color="secondary" clear>$3 USD</button>
                </ion-col>
                <ion-col col-3>
                    <button class="btn" ion-button color="secondary" clear>Other</button>
                </ion-col>
              </ion-row>
            </ion-grid>
  
  
          <button ion-button block>Donate : $4</button>
        </ion-card>
  </div>
    
</ion-content>
