<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title text-center>WELCOME</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bg">
  <ion-card>
      <ion-grid class="logo">
          <ion-row>
            <ion-col col-4></ion-col>
            <ion-col col-4>
              <img src="assets/imgs/l.jpg" alt="">
            </ion-col>
            <ion-col col-4></ion-col>
          </ion-row>
        </ion-grid>
    <ion-card-header>
    
    </ion-card-header>
    <ion-card-content>
      <ion-list no-lines>
        <ion-item>
          <ion-label floating>Username</ion-label>
          <ion-input type="text" #username></ion-input>
        </ion-item>
         
        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="password" #password></ion-input>
        </ion-item>
        <ion-item> 
          <p>Forgot Password ? <a>Get Your password</a></p>
        </ion-item>
        <button ion-button outline block color="danger" (click)="logInUser();">Login</button>
      </ion-list>
      <b>OR</b>
      <ion-row>
       
          <button ion-button icon-left color="fb" block>
        <ion-icon name="logo-facebook"></ion-icon>
        <div>login with facebook</div>
      </button>
       
        
          <button ion-button icon-left color="danger" block>
        <ion-icon name="logo-google"></ion-icon>
        <div>login with Google</div>
      </button>
      <button ion-button icon-left color="secondary" (click)="Register();" block>
        <div>Register</div>
      </button>
   
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
