page-welcome {
  
  .bg {
    background: #fcdd73; 
      ion-card {
        height: 515px;
        background: #151a21;
      }
  }
  .scroll-content {
    /*align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;*/
    text-align: center;
  }
  ion-card.card {
    box-shadow: none;
    border-radius: 10px;
    z-index: 100;
    
  }
  .item {
    background: rgba(232, 230, 230, 0px);
    border: medium none;
  }
  ion-input {
    border-bottom: #FD4D73 solid 1px;
  }
  
  h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5em;
    font-weight: lighter;
    color: #fff;
  }
  .logo {
    height: 100x;
    width: 300px;
    border-radius: 90px;
  }
}
